.container {
	padding: 50px;
	display: flex;
}

.left {
	flex: 2;
}

.right {
	flex: 1;
}

.imgContainer {
	width: 100px;
	height: 100px;
	position: relative;
}

.table {
	width: 100%;
	border-spacing: 20px;
}

.name {
	font-weight: 500;
	color: #d1411e;
	font-size: 18px;
}

.total {
	font-weight: 500;
	font-size: 18px;
}

.wrapper {
	width: 90%;
	max-height: 300px;
	margin-left: auto;
	background-color: #dedede;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.totalText {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.totalTextTitle {
	margin-right: 10px;
}

.button {
	color: #fff;
	padding: 15px 20px;
	background-color: #d1411e;
	border: none;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 20px;
}

@media screen and (max-width: 480px) {
	.container {
		flex-direction: column;
		padding: 20px;
	}

	.table {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.trTitle {
		display: none;
	}

	.tr {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
	}
	.tr td {
		padding: 5px;
	}

	.imgContainer {
		width: 35vw;
		height: 35vw;
	}

	.name,
	.total {
		font-size: 21px;
	}

	.extras,
	.price,
	.quantity {
		font-size: 16px;
	}

	.price::before {
		content: 'Price: ';
		font-weight: 500;
	}
	.quantity::before {
		content: 'Quantity: ';
		font-weight: 500;
	}
	.total::before {
		content: 'Total: ';
		font-weight: 500;
	}

	.wrapper {
		width: 100%;
		margin-top: 20px;
	}
}
