.container {
	padding: 50px;
	display: flex;
}

.left {
	flex: 2;
}

.table {
	width: 100%;
	text-align: left;
	margin-bottom: 50px;
}
.tr td {
	padding: 10px 5px;
}

.row:last-child {
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.status {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.done {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inProgress {
	display: flex;
	flex-direction: column;
	align-items: center;
	animation: inProgress 1s ease infinite alternate;
}

.undone {
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0.3;
}

.undone .checkedIcon,
.inProgress .checkedIcon {
	display: none;
}

.right {
	flex: 1;
}

.wrapper {
	width: 90%;
	max-height: 300px;
	margin-left: auto;
	background-color: #dedede;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.totalText {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.totalTextTitle {
	margin-right: 10px;
}

.button {
	color: white;
	padding: 15px 20px;
	background-color: teal;
	border: none;
	font-weight: bold;
	text-transform: uppercase;
	cursor: not-allowed;
	margin-top: 20px;
}

@media screen and (max-width: 480px) {
	.container {
		flex-direction: column;
	}

	.trTitle {
		display: none;
	}

	.tr {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.tr td {
		padding: 10px 5px;
	}

	.id {
		font-size: 18px;
		font-weight: 600;
	}

	.total {
		font-size: 21px;
		font-weight: 600;
		margin-top: 10px;
		display: block;
	}

	.name,
	.text {
		font-size: 16px;
	}
	.name {
		font-weight: 600;
	}

	.id::before {
		content: 'Order #: ';
	}
	.total::before {
		content: 'Total: ';
	}

	.row:last-child {
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.done,
	.undone,
	.inProgress {
		margin-bottom: 20px;
	}

	.wrapper {
		width: 100%;
		margin-top: 20px;
	}
}

@keyframes inProgress {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
